*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'montserrat', sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    font-family: 'montserrat', sans-serif;
    background-image: url(bg.jpg);
    background-size: cover;
    background-position: top center;
    /* width: 350px; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.5));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;

}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255,255,255,0.5);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid #db5e0b;
    font-size: 20px;
    font-weight: 300;
    color: #313131;
    transition: 0.2s ease-out;
}

header input:focus {
    background-color: rgba(255, 255, 255, 0.7);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
    text-shadow: 5px 5px 10px #db5e0b;

}

.location .date {
    color: #fff;
    font-size: 16px;
    text-shadow: 5px 5px 10px #db5e0b;

}

.current .temp {
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    /* text-shadow: 2px 10px rgba(0,0,0,0.6); */
    text-shadow: 5px 5px 10px #db5e0b;
}

.current .temp span {
    font-weight: 500;
}

.current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0,0,0,0.4);
    text-shadow: 5px 5px 10px #db5e0b;
}

.current .high-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 0px 4px rgba(0,0,0,0.4);
    text-shadow: 5px 5px 10px #db5e0b;
}
